# Dependencies
node_modules

# Next.js build output
.next

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage

# Misc
README.md
*.md
!prisma/*.md
